FORMAT: 1A
HOST: https://api.starship.xyz

# Delivery API

Get delivery slots, reserve and confirm robot deliveries. 

* All requests need to include AccountSid and AuthToken headers provided by Starship.
* Availability days and hours are configured by Starship

## Delivery slots [/slots]

### Retrieve list of possible slots [POST]

* Customer information has to be passed in, because amount of slots depends on drive distance
* Parcel information has to be passed in, because different robots have different capabilities

+ Request (application/json)

    + Headers
    
            AccountSid: 370360ee-ca25-4b1a-9df7-1d625d601d37
            AuthToken: ac6f3815-c19d-467b-9768-41810f493c5c
            
    + Attributes
        + days (string, optional) - Optional number of days to return slots for. Default 2
        + date: 2017-08-08 (string, optional) - Optional date to return slots from
        
        + address (object, required) - Customer address and contact
            + address: Random Street 2 (string, required)
            + address2: Apt 64 (string, optional)
            + city: London (string, required)
            + zip: AR52 (string, required)
            + country: UK (string, required)
            + name: Jane Doe(string, required)
            + phone: +441234567889 (string, required)
            
        + parcel (object, required) - Parcel information
            + dimensions (object)
                + unit: mm (string) Supported values: mm, in
                + width: 210 (number, optional) 
                + height: 200 (number, optional) 
                + length: 400 (number, optional) 
            + weight (object) Supported values: g, lbs
                + unit: g (string) 
                + value: 600 (number)
       
            
+ Response 201 (application/json)
    Returns status 201 and array of ISO 8601 formatted time intervals 
    or status 400 and an error code
    
    Possible error codes
    
    | Code      | Explanation         |
    |-----------|---------------------|
    | no_slots  | No available slots |
    | no_robots | No available robots |
    | outside_hours | Outside working hours |
    | not_mapped | Route is not mapped yet |
    | too_far | Route is too long for robot delivery |
    | invalid_phone | Missing or invalid phone number |
    | parcel_too_big | Parcel would not fit into the robot  |
    | parcel_too_heavy | Parcel is too heavy to be carried by robot  |
    | bad_request | Invalid/missing data |
    

    + Body
    
            [
                '2017-01-11T13:00:00Z/13:15',
                '2017-01-11T14:00:00Z/14:15',
                '2017-01-11T15:00:00Z/15:15',
                '2017-01-12T10:00:00Z/10:15',
                '2017-01-12T11:00:00Z/11:15'
            ]

+ Response 400 (application/json)

    Returned when no slots are available. 
    
    + Body
    
            {
                "code": "no_slots",
                "reason": "No available slots"
            }

    
    
            
# Group Deliveries

## /deliveries

### Make delivery reservation [POST]

Returns 201 status code on success. Successful reservation is valid for 2 minutes.

Returns 400 on rejection, along with response body containing reason

| Code      | Explanation         |
|-----------|---------------------|
| no_robots | No available robots |
| outside_hours | Outside working hours |
| not_mapped | Route is not mapped yet |
| too_far | Route is too long for robot delivery |
| bad_request | Invalid/missing data |
 
+ Request (application/json)

     + Headers
     
            AccountSid: 370360ee-ca25-4b1a-9df7-1d625d601d37
            AuthToken: ac6f3815-c19d-467b-9768-41810f493c5c

    + Attributes

        + from (object, required) - Pickup location. Loading areas need to be configured before use
            + loadingarea: loading area id (string, required) 

        + to (object, required) - Address for delivery
            + address: Random Street 2 (string, required)
            + address2: Apt 64 (string, optional)
            + city: London (string, required)
            + zip: AR52 (string, required)
            + country: UK (string, required)
            + name: Jane Doe(string, required)
            + phone: +441234567889 (string, required)

        + parcel (object, required)
            + description: Pizza (string, optional) - What's inside?
            + reference: CFG345 (string, required) - Order/delivery id in partner system
            + dimensions (object, optional)
                + unit: mm (string, required) - supported units: mm, in
                + width: 210 (number, required) 
                + height: 200 (number, required)
                + length: 400 (number, required)
            + weight (object, optional)
                + unit: mm (string) - supported units: mm, in
                + weight: 600 (number, required) - value
            
        + due: 2017-08-08T13:00:00Z/13:15, (string, optional) - ISO 8601 formatted Delivery time slot
           

+ Response 201

    + Body
    
            {
                "id": "5818bc832f00ee01e8402745",
                "status": "RESERVED"
            }
    
+ Response 400


    + Body
    
            {
                "code": "no_robots",
                "reason": "No available robots"
            }


   


    
## /deliveries/{id}

### Confirm delivery [POST]

Confirm previously created delivery

+ Parameters
    + id - Id from response of reservation request
    
+ Request (application/json)

     + Headers
     
            AccountSid: 370360ee-ca25-4b1a-9df7-1d625d601d37
            AuthToken: ac6f3815-c19d-467b-9768-41810f493c5c

    + Attributes

        + action: CONFIRM (string, required) 

+ Response 200 (application/json)

    + Body

            {
                "id": "abc123",
                "status": "CONFIRMED"
            }
            
+ Response 400 (application/json)

    + Body

            {
                "code": "not_found",
                "reason": "Delivery not found or not RESERVED"
            }
            
### Cancel delivery [DELETE]

Cancel previously created delivery

+ Parameters
    + id - Delivery id
    
+ Request (application/json)

     + Headers
     
            AccountSid: 370360ee-ca25-4b1a-9df7-1d625d601d37
            AuthToken: ac6f3815-c19d-467b-9768-41810f493c5c

+ Response 200 (application/json)

    + Body

            {
                "id": "abc123",
                "status": "DELETED"
            }
            
+ Response 400 (application/json)

    + Body

            {
                "code": "not_found",
                "reason": "Delivery not found or already completed"
            }